{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="hero">
    <div class="container">
        <div class="left-col">
            <p class="subhead">La ferme des 3 Chênes</p>
            <h1>Une ferme proche de ses vaches</h1>
        </div>
        <img src="{{ url_for('static', filename='vaches.jpg')}}" class="hero-img" width="200" height="350" alt="Une vache de la ferme">
    </div>
</section>

<section class="graph-section">
    <div class="container">
        <h2>Description du projet</h2>
        <p>Dans le cadre de ce projet, nous avions la tâche de répondre aux figures proposées concernant la ferme des 3 Chênes.<br>Pour chacune d'entre elles, nous avons analysé les données à notre disposition afin d'y apporter une réponse sur base des chiffres au moyen de tableaux et de différents graphes</p>
    </div>
</section>

<section class="contact-section">
    <div class="container">
        <div class="contact-left">
            <h3>Contact</h3>
            <form action="">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Votre nom" size="50"><br>
                <br>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" size="50"><br>
                <br>
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10" placeholder="Entrez votre message" size="50"></textarea><br>
                <br>
                <input type="submit" class="send-message-cta" value="Envoyer le message" size="50">
            </form>
        </div>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19982.286827397347!2d5.737233232085944!3d49.880466989612856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c01df436e95bc9%3A0xd6def8515e714d03!2sLa%20Ferme%20des%202%20Fontaines!5e0!3m2!1sfr!2slu!4v1617271656448!5m2!1sfr!2slu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

    </div>
</section>
{% endblock %}