{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<section class="hero">
    <div class="container jumbotron">
        <div class="left-col">
            <p class="subhead display-3">La ferme des 3 Chênes</p>
            <h1>Une ferme proche de ses vaches</h1>
        </div>
        <img src="{{ url_for('static', filename='vaches.jpg')}}" class="hero-img" width="200" height="350" alt="Une vache de la ferme">
    </div>
</section>

<section class="graph-section">
    <div class="container">
        <h2>Description du projet</h2>
        <p>Dans le cadre de ce projet, nous avions la tâche de répondre aux figures proposées concernant la ferme des 3 Chênes.<br>Pour chacune d'entre elles, nous avons analysé les données à notre disposition afin d'y apporter une réponse sur base des chiffres au moyen de tableaux et de différents graphes</p>
    </div>
</section>

<section class="funfacts">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Fun facts</strong></strong></h3>
                <p>
                    Les vaches sont considérées comme les mères nourricières de la race humaine car elles produisent la majeure partie du lait que nous buvons.
                    La première vache en Amérique est arrivée dans la colonie de Jamestown en 1611. Jusque dans les années 1850, presque chaque famille avait sa propre vache. 
                    L'élevage laitier s'est amélioré au fil des ans. Aujourd'hui une seule vache peut produire le lait qu'il fallait autrefois à dix vaches pour produire.
                    Les vaches sont traites pendant une moyenne de 3 à 4 ans. Une vache doit avoir un veau pour pouvoir produire du lait. Les veaux sont nourris au lait jusqu'à l'âge de 8-9 semaines.
                    Une vache a en moyenne 2 ans lorsqu'elle a son premier veau.
                    Les veaux sont nourris au lait jusqu'à l'âge de 8 à 9 semaines.
                    Une jeune vache femelle est appelée une génisse.
                    Avant l'invention des machines à traire en 1894, les agriculteurs ne pouvaient traire qu'environ 6 vaches par heure. Aujourd'hui, les agriculteurs utilisent des machines pour traire plus de 100 vaches par heure.
                    Les vaches sont des ruminants, c'est-à-dire des mammifères qui ruminent. Les moutons et les chameaux sont également des ruminants.
                    Une vache rumine (aliments régurgités et partiellement digérés) jusqu'à 8 heures par jour.
                    Les vaches laitières fournissent 90 % de l'approvisionnement en lait dans le monde.
                </p>
    </div>
</section>
<section class="image">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <div class="image-wrapper text-center">
                    <img src="{{ url_for('static', filename='vache2.jpg')}}" class="hero-img" width="200" height="350" alt="Meuuuh">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="funfacts2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Plus de fun facts</strong></strong></h3>
                <p>
                    Contrairement à la croyance populaire, les vaches n'ont pas 4 estomacs, mais 4 compartiments digestifs :
                    1. Le rumen contient jusqu'à 50 gallons d'aliments partiellement digérés. C'est de là que provient la bouse. Les bonnes bactéries présentes dans le rumen aident à digérer la nourriture de la vache et lui fournissent des protéines.
                    2. Le réticulum est appelé l'estomac métallique parce que si les vaches mangent accidentellement du métal (comme un morceau de clôture), il se loge souvent ici sans causer d'autres dommages.
                    3. L'omasum est une sorte de filtre.
                    4. La caillette, qui est comme notre estomac.
                    Les vaches boivent environ une baignoire pleine d'eau et mangent environ 12 kg de nourriture par jour.
                    Les vaches ont 32 dents :
                    8 incisives sur le bas du front
                    6 molaires en haut et en bas de chaque côté.
                    Un coussinet de peau coriace à la place des dents sur la partie supérieure du front.
                    Les vaches Holstein sont noires et blanches, et chacune a un dessin unique.
                    Un veau Holstein pèse entre 80 et 110 livres à la naissance.
                    Une vache Holstein adulte pèse entre 1 300 et 1 500 livres.
                    Les Jerseys sont de couleur marron foncé ou fauve, et sont parfois tachetées de blanc.
                    Un veau Jersey pèse environ 20 kg à la naissance.
                    Une vache Jersey adulte pèse entre 900 et 1 000 livres.
                    La température corporelle moyenne d'une vache est de 101,5°F.
                    Les buffles d'eau, les chameaux, les chèvres, les moutons, les chevaux et les rennes sont également traits.
                </p>
                <p class="font-italic">Source: <a href="https://beef2live.com/story-fun-facts-cows-calves-104-104000#:~:text=A%20cow%20must%20have%20a,are%208%2D9%20weeks%20old">beef2live.com</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}