{% extends "base.html" %}
{% block title %}Question 6{% endblock %}
{% block content %}
<h1>Les données</h1>
<h5>Occasionnellement, un veau mâle est vendu à une autre ferme. Pour pouvoir le vendre, nous devons fournir des informations sur sa généalogie, ainsi que sur sa qualité.</h5>
<h6>1. Quelles sont les généalogies des taureaux de la ferme ?</h6>
<h6>2. Pour chacun, afficher si la mère, la grand-mère, les sœurs, tantes, cousines, nièces sont encore présentes dans la ferme.</h6>
<h6>3. Pour chacun, vient-il d’une bonne famille ou une famille avec problèmes ?</h6><br>

<h3>6.1</h3>
<h5>Représentation par tableau</h5>
<table></table><br>
<h5>Représentation graphique</h5>
<!--(afficher l’arbre généalogique jusqu’à la matriarche pour les taureaux présents dans la ferme.)-->
<canvas id="graphique6.1" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>

<h3>6.2</h3>
<h5>Représentation par tableau</h5>
<table></table><br>
<h5>Représentation graphique</h5>
<canvas id="graphique6.2" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>

<h3>6.3</h3>
<h5>Représentation par tableau</h5>
<table></table><br>
<h5>Représentation graphique</h5>
<!--(afficher au sein d’une famille les statistiques de femelles, jumeaux, morts à la naissance ou prématurées, ou autres problèmes)-->
<canvas id="graphique6.3" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>




<script>
var ctx = document.getElementById('graphique6.1').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Assets",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
    
var ctx = document.getElementById('graphique6.2').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Assets",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('graphique6.3').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Assets",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}