{% extends "base.html" %}
{% block title %}Question 1{% endblock %}
{% block content %}
<h1>Les données</h1>
<h5>Une croyance populaire chez certains éleveurs est que les naissances arrivent plus souvent à la pleine lune.<br><br>Est-ce vrai ou pas ?</h5><br>

<h5>Représentation par tableau</h5>
<table></table><br>
<h5>Représentation graphique</h5>
<!--(Produire une heat map ou bar chart sur 28 jours avec le % de vêlage.)-->
<canvas id="graphique1" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>




<script>
var ctx = document.getElementById('graphique1').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Assets",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}