{% extends "base.html" %}
{% block title %}Question 3{% endblock %}
{% block content %}
<h1>Les données</h1>

<h5>Il arrive malheureusement qu'un veau soit mort-né. <br> Pour en diminuer le nombre, il est utile de savoir quelles peuvent en être certaines causes.</h5>

<button type="button" class="collapsible">3.1 - Y a-t-il un moment particulier durant l’année auquel plus de décès arrivent ?</button>
<div class="content">
    <h5>Représentation par tableau</h5>
    <table></table><br>
    <h5>Représentation graphique</h5>
    <canvas id="graphique3.1" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>
</div>

<button type="button" class="collapsible">3.2 - Y a-t-il une famille particulière chez qui cela arrive plus souvent ?</button>
<div class="content">
    <h3>3.2</h3>
<h5>Représentation par tableau</h5>
<table></table><br>
<h5>Représentation graphique</h5>
<!--(stacked bar plot qui affiche, famille par famille, le nombre de vivants, mort-nés, et décès prématurés, en choisissant une unité de temps adéquate.)-->
<canvas id="graphique3.2" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>
</div>

<button type="button" class="collapsible">3.3 - Y a-t-il un père pour lequel cela arrive souvent </button>
<div class="content">
    <h3>3.3</h3>
    <h5>Représentation par tableau</h5>
    <table></table><br>
    <h5>Représentation graphique</h5>
    <!--(stacked bar plot par père, affichant le nombre de vivants, mort-nés, et décès prématurés, en choisissant une unité de temps adéquate.)-->
    <canvas id="graphique3.3" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>
</div>



<script>
    //script for the collapsable items
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<script>
var ctx = document.getElementById('graphique3.1').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Assets",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('graphique3.2').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Assets",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

var ctx = document.getElementById('graphique3.3').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Assets",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}