{% extends "base.html" %}
{% block title %}Vêlages multiples par vaches{% endblock %}
{% block content %}
<h1>Les données</h1>
<h5>Une vache fait généralement son premier veau à l’âge de 2 ans. Avant ce premier veau, elle n’est pas économiquement utile, puisqu’elle ne produit pas encore de lait. Une exploitation cherche généralement à garder ses vaches le plus longtemps possible, pour maximiser le nombre de lactations (une lactation correspond à un vêlage).<br>
    Pour chaque année, montrer graphiquement comment tous les vêlages de l’année se répartissent entre premier vêlage, second vêlage, etc, sous forme d’un stacked bar chart.</h5><br>

<h5>Représentation par tableau</h5>
<table></table><br>
<h5>Représentation graphique</h5>
<!--(stacked bar chart)-->
<canvas id="graphique2" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>




<script>
var ctx = document.getElementById('graphique2').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Nombre de 1er velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[0] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }, {
        label : "Nombre de 2emes velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(100, 0, 200, 0.5)",
        borderColor : "rgba(100, 0, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[1] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }, {
        label : "Nombre de 3emes velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 0, 200, 0.5)",
        borderColor : "rgba(0, 0, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[2] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }, {
        label : "Nombre de 4emes velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(100, 0, 0, 0.5)",
        borderColor : "rgba(100, 0, 0, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[3] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }, {
        label : "Nombre de 5emes velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(100, 200, 200, 0.5)",
        borderColor : "rgba(100, 200, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[4] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }, {
        label : "Nombre de 6emes velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(100, 0, 0, 0.5)",
        borderColor : "rgba(100, 0, 0, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[5] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }, {
        label : "Nombre de 7emes velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(200, 2000, 0, 0.5)",
        borderColor : "rgba(200, 200, 0, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[6] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }, {
        label : "Nombre de 8emes velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 0, 50, 0.5)",
        borderColor : "rgba(0, 0, 50, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[7] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }, {
        label : "Nombre de 9emes velâges",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(50, 50, 50, 0.5)",
        borderColor : "rgba(50, 50, 50, 1)",
        borderWidth: 1,
        data : [
        {% for item in values[8] %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            xAxes: [{ stacked: true }],
            yAxes: [{ stacked: true }]
        }
    }
});
</script>
{% endblock %}