{% extends "base.html" %}
{% block title %}Question 5{% endblock %}
{% block content %}
<h1>Les données</h1>
<h5>Les vendeurs de doses pour l’insémination artificielle nous proposent des doses sexées (promettant 90% de veaux femelles). Comme elles sont également plus chères, il faut bien choisir les animaux sur lesquelles les mettre pour s’assurer que la dose n’est pas perdue. On va préférer les vaches provenant de familles qui font moins de femelle de base, et pour lesquelles il y a peu de jumeaux (il est moins probable que la gestation aille jusqu’au bout dans des cas de jumeaux) et le moins de morts à la naissance ou prématurées, afin de maximiser l’utilité de la dose.<br><br>Quelles familles sont les meilleures suivant ces critères-là ?</h5><br>

<h5>Représentation par tableau</h5>
<table></table><br>
<h5>Représentation graphique</h5>
<!--(multi-line ou multi bar chart, une line par % de chaque statistique, par famille)-->
<canvas id="graphique5" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>




<script>
var ctx = document.getElementById('graphique5').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Assets",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for item in values %}
        "{{ item }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
    














</script>
{% endblock %}