{% extends "base.html" %}
{% block title %}Question 1{% endblock %}
{% block content %}
<h1>Les données</h1>
<h5>Une croyance populaire chez certains éleveurs est que les naissances arrivent plus souvent à la pleine lune.<br>Est-ce vrai ou pas ?</h5><br>

<h3>Représentation par tableau</h3>
<p>Nombre total de vélages par jour du cycle lunaire de Novembre 1990 à Novembre 2020</p>
<table style="width:100%">
    <thead>
        <tr>
            <th>{{ labels[0] }}</th>
            <th>{{ labels[1] }}</th>
            <th>{{ labels[2] }}</th>
            <th>{{ labels[3] }}</th>
            <th>{{ labels[4] }}</th>
            <th>{{ labels[5] }}</th>
            <th>{{ labels[6] }}</th>
            <th>{{ labels[7] }}</th>
            <th>{{ labels[8] }}</th>
            <th>{{ labels[9] }}</th>
            <th>{{ labels[10] }}</th>
            <th>{{ labels[11] }}</th>
            <th>{{ labels[12] }}</th>
            <th>{{ labels[13] }}</th>
            <th>{{ labels[14] }}</th>
            <th>{{ labels[15] }}</th>
            <th>{{ labels[16] }}</th>
            <th>{{ labels[17] }}</th>
            <th>{{ labels[18] }}</th>
            <th>{{ labels[19] }}</th>
            <th>{{ labels[20] }}</th>
            <th>{{ labels[21] }}</th>
            <th>{{ labels[22] }}</th>
            <th>{{ labels[23] }}</th>
            <th>{{ labels[24] }}</th>
            <th>{{ labels[25] }}</th>
            <th>{{ labels[26] }}</th>
            <th>{{ labels[27] }}</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ values[0] }}</td>
            <td>{{ values[1] }}</td>
            <td>{{ values[2] }}</td>
            <td>{{ values[3] }}</td>
            <td>{{ values[4] }}</td>
            <td>{{ values[5] }}</td>
            <td>{{ values[6] }}</td>
            <td>{{ values[7] }}</td>
            <td>{{ values[8] }}</td>
            <td>{{ values[9] }}</td>
            <td>{{ values[10] }}</td>
            <td>{{ values[11] }}</td>
            <td>{{ values[12] }}</td>
            <td>{{ values[13] }}</td>
            <td>{{ values[14] }}</td>
            <td>{{ values[15] }}</td>
            <td>{{ values[16] }}</td>
            <td>{{ values[17] }}</td>
            <td>{{ values[18] }}</td>
            <td>{{ values[19] }}</td>
            <td>{{ values[20] }}</td>
            <td>{{ values[21] }}</td>
            <td>{{ values[22] }}</td>
            <td>{{ values[23] }}</td>
            <td>{{ values[24] }}</td>
            <td>{{ values[25] }}</td>
            <td>{{ values[26] }}</td>
            <td>{{ values[27] }}</td>
            <td>{{ somme }}</td>
        </tr>
    </tbody>
</table><br>
<h3>Représentation graphique</h3>
<!--(Produire une heat map ou bar chart sur 28 jours avec le % de vêlage.)-->
<p>Bar chart du nombre total de vélages par jour du cycle lunaire de Novembre 1990 à Novembre 2020<br>J14 = nouvelle lune<br>J28 = pleine lune</p>
<canvas id="graphique1" width="50" height="25" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas><br>




<script>
var ctx = document.getElementById('graphique1').getContext('2d');
var chartData = {
    labels : [
    {% for item in labels %}
    "{{ item }}",
    {% endfor %}
    ],
    datasets : [{
        label : "Vélages",
        fill : true,
        lineTension : 0.1,
        backgroundColor : "rgba(0, 100, 200, 0.5)",
        borderColor : "rgba(0, 100, 200, 1)",
        borderWidth: 1,
        data : [
        {% for compte in values %}
        "{{ compte }}",
        {% endfor %}
        ],
        spanGaps : false
    }]
};
var myChart = new Chart(ctx, {
    type: 'bar',
    data: chartData,
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endblock %}
