{% extends 'base.html' %}

{% block head %}
<title>Projet2 </title>
{% endblock %}

{% block body %}

<h1>Test graphique</h1>

<canvas id="graphique" width="200" height="70"></canvas>

<canvas id="graphique2" width="200" height="50"></canvas>

    <script>
    // l'identifiant est celui du canevas
    var ctx = document.getElementById('graphique').getContext('2d');
    // création du graphique
    var nbVaches = 2012;
    var nbTaureaux = 2245;
    var nbTot = 4304;
    var nbPresent = 372;
    var nbApprivoise = 54;
    var nbPrseAppr = 18;
    var myChart = new Chart(ctx, {
    type: 'pie',   // le type du graphique
    data: {        // les données
        labels: ['Vaches', 'Taureaux', 'Indéterminé'],
        datasets: [{
                    label: 'Animaux',
                    data: [nbVaches, nbTaureaux, nbTot - (nbVaches + nbTaureaux)],
                    backgroundColor: ["rgb(54, 162, 235)","rgb(255, 205, 86)", "rgb(255, 99, 132)"]
                   }]
           }
        }
    );
    
    var ctx = document.getElementById('graphique2').getContext('2d');
    var myChart2 = new Chart(ctx, {
    type: 'horizontalBar',   // le type du graphique
    data: {        // les données
        labels: ['Présents', 'Apprivoisés', 'Présents & apprivoisés'],
        datasets: [{
                    label: 'Animaux',
                    data: [nbPresent, nbApprivoise, nbPrseAppr],
                    backgroundColor: ["rgb(201, 203, 207)", "rgba(153, 102, 255, 0.2)", "rgba(75, 192, 192, 0.2)"]
                   }]
           },
    options: {
        legend: {
            display: false
        }
    }
    });
    </script>


<h1>Test changing pages</h1>

{% endblock %}